<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Source" value="192.168.12.12"/>-->
    <add key="Source" value="(local)\SQLEXPRESS"/>
    <add key="DataBace" value="tc_invoicing"/>
    <!--如果是Windows验证，这里为空即可-->
    <!--<add key="UserID" value="sa"/>-->
    <add key="UserID" value=""/>
    <!--如果是Windows验证，这里为空即可--> 
    <!--<add key="PassWord" value="sa2005"/>-->
    <add key="PassWord" value=""/>
    
    <!--以下value的最大长度为10位字母，此数据为生成主键准备，勿轻易改动-->
    <add key="公司" value="GS"/>
    <add key="员工" value="YG"/>
    <add key="货位" value="HW"/>
    <add key="计量单位" value="DW"/>
    <!--<add key="器械分类" value="APP"/>-->
    <add key="客户" value="KH"/>
    <add key="产品" value="CP"/>
    <add key="生产厂家" value="CJ"/>
    <add key="供货商" value="GH"/>
    <add key="入库" value="RK"/>
    <add key="出库" value="CK"/>
    <add key="库存表" value="KC"/>
    <add key="报损表" value="BS"/>
    <add key="养护记录" value="YH"/>
    <add key="器械质量跟踪" value="ZL"/>
    <add key="校验仪器管理" value="YQ"/>
    <add key="maxTransBuffer" value="5242880"/>
  </appSettings>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransportService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="5242880" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880"
            messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientSize">
          <dataContractSerializer maxItemsInObjectGraph="5242880"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://192.168.1.23:80/FileUpLoad/" behaviorConfiguration="ClientSize"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransportService"
          contract="FileService.IFileTransportService" name="BasicHttpBinding_IFileTransportService" />
    </client>
  </system.serviceModel>
</configuration>